.hero-container {
  width: 100%;
  position: relative;
}

.hero-background-img-container {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./bgImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.hero-tagline-container {
  width: 50%;
  padding: 2rem 2.1875rem 4.125rem;
  width: 80%;
  color: white;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .hero-tagline-container {
    max-width: 50%;
    padding-top: 7.5rem;
    padding-bottom: 4.125rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.hero-tagline-header {
  margin-bottom: 10px;
}
.hero-sub-tagline {
  margin-bottom: 57px;
  line-height: 1.3;
}
.tagline-text {
  font-size: 50px;
  margin-bottom: 1rem;
}
.hero-button-container{
  display: flex;
}
.hero-button-container .button-container:last-child{
  margin-left: 20px;
  background-color: crimson;
}
