.login-container {
  width: 100%;
  height: calc(100vh - 80px);
  background-color: #f6f8f9;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-wrapper {
  width: 40%;
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.1), 0 17px 50px rgba(0, 0, 0, 0.1);
  border-radius: 0 20px 0 0;
}
@media (max-width: 768px) {
  .login-wrapper {
    width: 100%;
    margin: 0;
  }
}
.login-wrapper a {
  text-decoration: none;
  color: white;
}
.login-input-wrapper {
  padding: 20px;
}
.login-header {
  color: #000;
  display: flex;
  justify-content: center;
  margin: 10px 0;
  padding: 20px;
}
.login-header-text {
  color: #000;
}
.login-data-input-container {
  display: flex;
  flex-direction: column;
}
.login-button {
  padding: 0;
  margin-top: 10px;
  padding: 10px 0;
  width: 100%;
  background-color: #3f4652;
  border-radius: 3px;
}

.register-link {
  color: #000;
  display: flex;
  justify-content: center;
}
.register-link a {
  color: blue;
}
