.button-container {
  width: 10rem;
  font-size: 1.25rem;
  background-color: #1C3988;
  padding: 0.625rem;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}
.button-wrapper {
  font-size: 1rem;
  font-weight: 500;
}
