.our-services-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}
.our-services-wrapper {
  width: 80%;
  padding: 4.625rem 3.90625%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.services-header {
  display: flex;
  justify-content: center;
  padding-bottom: 1.25rem;
}
.service-offers {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .service-offers {
    flex-direction: column;
  }
}
.service-offer {
  margin: 0.625rem;
  padding: 1.875rem 1.5625rem;
  width: 18.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  max-width: 250px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none;
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.1), 0 17px 50px rgba(0, 0, 0, 0.1);
  border-radius: 0 20px 0 0;
}
@media (max-width: 768px) {
  .service-offer {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 0.625rem;
    border-radius: 0;
    max-width: 400px;
  }
}
.service-icon {
  text-align: center;
}
.our-service-icon {
  font-size: 1.875rem;
}
.service-content {
  padding-top: 1.25rem;
}

.service-header {
  text-align: center;
}
.service-info {
  padding-top: 0.625rem;
  text-align: center;
}
