.our-services-container {
  width: 100%;
  padding: 5rem 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}
.photo {
  width: 30rem;
  height: 30rem;
  object-fit: fill;
}
.our-service-info {
  margin-left: 5rem;
  width: 30rem;
}
.our-service-title {
  opacity: 0.5;
  margin-bottom: 1rem;
}
.our-service-text {
  margin-top: 1rem;
}
.our-service-btn {
  width: 7.875rem;
  padding: 0.813rem 1rem;
  color: #1C3988;;
  border: 1px solid #1C3988;
  margin-top: 1rem;
}
.our-services-wrapper {
  width: 80%;
  padding: 4.625rem 3.90625%;
  display: flex;
  /* justify-content: center;
  flex-direction: column;
  align-items: center; */
  flex-wrap: wrap;
}
.services-header {
  color: #000;
}
.service-header {
  font-size: 2rem;
  text-transform: uppercase;
}
.service-header-text {
  width: 30rem;
}

/* .services-header {
  display: flex;
  justify-content: center;
  padding-bottom: 1.25rem;
} */
.service-offers {
  display: flex;
  /* width: 100%; */
  /* overflow-y: hidden; */
  /* justify-content: center; */
  /* flex-wrap: wrap; */
}
@media (max-width: 768px) {
  .service-offers {
    flex-direction: column;
  }
}
.service-offer {
  width: 30rem;
  background-color: #F3F3FA;
  color: #000;
  padding: 1.5rem;
  margin-left: 2rem;
  
  /* margin: 0.625rem;
  padding: 1.875rem 1.5625rem;
  width: 18.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  max-width: 250px;
  word-wrap: break-word;
  background-color: #fff;
color: black;
  background-clip: border-box;
  border: none;
  filter: drop-shadow(0px 4px 20px rgba(71, 100, 195, 0.1));; */
  /* box-shadow: 0 12px 15px rgba(0, 0, 0, 0.1), 0 17px 50px rgba(0, 0, 0, 0.1); */
  /* border-radius: 0 20px 0 0; */
}
@media (max-width: 768px) {
  .service-offer {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 0.625rem;
    border-radius: 0;
    max-width: 400px;
  }
}
.service-icon {
  text-align: center;
}
.our-service-icon {
  font-size: 1.875rem;
}
.service-content {
  padding-top: 1.25rem;
}

.service-header {
  text-align: center;
}
.service-info {
  padding-top: 0.625rem;
  text-align: center;
}
