.sidebar-container {
  flex: 2.5;
  position: absolute;
	display: block;
	top: 0;
	left: 0;
	bottom: 0;
  /* height: 100vh;
  background-color: #272c33;
  display: block; */
}
@media (max-width: 768px) {
  .sidebar-container {
    height: 100vh;
    display: flex;
    background-color: #272c33;
    z-index: 1;
    display: none;
  }
}
.sidebar-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  width: (15rem - 60);
  margin: 0;
  padding: 30px;
  overflow: auto;
  /* display: flex;
  padding-top: 30px;
  width: 100%;
  justify-content: center;

  color: white; */
}
@media (max-width: 768px) {
  .sidebar-wrapper {
    /* padding: 10px; */
    position: relative;
  }
}
.sidebar-items {
  display: block;
}
.sidebar-icon {
  color: white;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.sidebar-icon {
  filter: brightness(0) invert(1);
}
.sidebar-img {
  width: 30px;
  height: 30px;
}
.sidebar-text {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.sidebar-links {
  display: flex;
  text-decoration: none;
  color: white;
}
.sidebar-links:hover {
  font-size: 50px;
  color: white;
}
.sidebar-menu {
  display: flex;
  width: 50%;
 margin: 0 auto;
  padding-bottom: 10px;
}
.sidebar-links:hover{
  font-size: 20px;
 color: yellow;
}
@media (min-width: 768px) {
  .sidebar-menu {
    width: 100%;
  }
}


