.footer-container {
  width: 100%;
  background-color: #3f4652;
}
.footer-first-wrapper {
  padding: 20px 35px;
  
}
@media (min-width: 768px) {
  .footer-first-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 4.625rem 3.90625%;
  }
}
.footer-first-container {
  width: 100%;
  color: white;
}
@media (min-width: 768px) {
  .footer-first-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
}

.footer-left {
  display: none;
}
@media (min-width: 768px) {
  .footer-left {
    height: 50px;
    display: flex;
    align-items: center;
  }
}

.footer-logo {
  font-size: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.footer-logo-name {
  padding-left: 10px;
  font-size: 18px;
}

.accordion {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .accordion {
    width: 70%;
    display: flex;
    padding: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 2.187rem;
  }
}
.accordions-wrapper {
  position: relative;
  padding-top: 20px;
  border-bottom: 1px solid rgba(225, 225, 225, 0.5);
}
@media (min-width: 768px) {
  .accordions-wrapper {
    padding: 0;
    border: none;
  }
}
.accordion-header {
  display: flex;
  justify-content: space-between;
  height: 30px;
  text-transform: uppercase;
  align-items: center;
  opacity: 0.5;
  color: white;
}

.arrow-icons {
  display: flex;
  height: 30px;
  position: absolute;
  right: 0;
}
@media (min-width: 768px) {
  .arrow-icons {
    display: none;
  }
}
.hide {
  display: none;
}
@media (min-width: 768px) {
  .hide {
    display: block;
  }
}
.show-more-about-company {
  transition: all 0.5 linear;
}
.property-area {
  list-style: none;
  padding-top: 15px;
}
.property-area::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  transition: width 0.3s;
  background: #000;
}
.property-area:hover::after {
  width: 100%;
}
.li-link {
  text-decoration: none;
  color: white;
}
.social-menu {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  color: white;
  border-bottom: 1px solid white;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .social-menu {
    width: 25%;
    display: flex;
    justify-content: space-between;
    border: none;
    opacity: 1;
    flex-direction: column;
  }
}
.social-icons {
  width: 150px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .social-icons {
    width: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.social-icon {
  font-size: 30px;
  margin-left: 40px;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .social-icon {
    margin: 0;
  }
}
.social-icon:hover {
  color: chartreuse;
  border-radius: 50%;
}
.contact-info-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .contact-info-container {
    width: 200px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.contact-info {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
@media screen and (min-width: 768px) {
  .contact-info {
    padding: 5px 0;
  }
}
.social-contact {
  font-size: 30px;
  margin-right: 10px;
}
.copyright-container {
  color: white;
  padding: 0 35px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .copyright-container {
    display: flex;
    justify-content: space-between;
  }
}
.footer-logo-container {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .footer-logo-container {
    display: none;
  }
}
.footer-logo {
  width: 2.3775rem;
  height: 2.875rem;
  border-radius: 50%;
  object-fit: cover;
}
.copyright-text {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .copyright-text {
    width: 90%;
    padding: 0 48px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
.location {
  margin-right: 20px;
}
@media (min-width: 768px) {
  .location {
    margin-right: 80px;
  }
}
.nav-to-dashboard{
  width: 100px;
  height: 20px;
  background-color: crimson;
 
}
.nav-to-dashboard a{
  text-decoration: none;
  color: #fff
}